a:hover,
a:focus {
  outline: 0;
}

.button {
  text-align: center;
  font-size: 14px;
  line-height: 1;
  color: $text-color-primary;
  text-decoration: none;
  border: 1px solid rgba(234, 234, 234, 0.22);
  border-radius: 4px;
  padding: 13px 18px;

  //&:hover,
  //&:focus {
  //  border-color: #fff;
  //  outline: 0;
  //}
}

.button_bg {
  background-color: $color-secondary;
  border-color: $color-secondary;
}

.button_arrow {
  display: inline-block;
  line-height: 1;
  padding: 13px 30px;

  &:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 15px;
    margin-bottom: 2px;
    border: 1px solid #fff;
    border-bottom: none;
    border-right: none;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg) skew(200deg, 200deg);
  }
}

.button_color_blue {
  color: $color-blue;
  border-color: $color-blue;

  &:after {
    border: 1px solid $color-blue;
    border-bottom: none;
    border-right: none;
  }
}
