.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    margin: 45px -15px;
  }
}

.card-list_mt {
  margin-top: 50px!important;
}

.card-list-nom {
  margin: 0 -20px;
}

.card-list-nomb {
  margin-bottom: 0;
}

.card-list_tough {

  @media (min-width: $tablet) {
    margin: 0;
  }

  .card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    margin: 0;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    @media (min-width: $tablet) {
      width: 25%;
      border-right: 1px solid rgba(255, 255, 255, 0.3);

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #f9f9f9;
  background-color: $color-tertiary;
  width: 100%;
  border-radius: 4px;
  padding: 36px 20px;
  margin: 10px;

  @media (min-width: $tablet) and (max-width: $desctop) {
    width: 30%;
  }

  @media (min-width: $desctop) {
    width: 290px;
  }

}

.card_bg_light {
  color: #04070b;
  background-color: #fff;
  border: 1px solid #d3d3d3;
}

.card_bg_dark {
  background-color: rgba(112, 118, 149, 0.29);
}

.card_bg_orange {
  background-color: $color-orange;
}

.card_size_md {
  @media (min-width: $tablet) {
    width: 31%
  }
}

.card__label {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background-color: $color-secondary;
  padding: 5px 20px;
  margin-left: -20px;
}

.card__label_news {
  background-color: $color-news;
}

.card__label_media {
  background-color: $color-media;
}

.card__label_blog {
  background-color: $color-blog;
}

.card__date {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.card__title {
  margin-bottom: 15px;
}

.card__title_sm {
  font-size: 21px;
  line-height: 1.7;
  margin-bottom: 70px;
}

.card_bg_image {
  background-size: cover;
}

.card_bg {
  position: relative;
  min-height: 432px;
  background-size: cover;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-tertiary;
    opacity: 0.9;
    z-index: -1;
  }

  .button {
    margin-top: auto;
  }
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;

  .card__icon {
    margin-bottom: 0;
  }
}

.card__text {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.card__text_mb {
  margin-bottom: 70px;
}

.technology-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card__list {
  list-style-type: none;
  font-size: 12px;

  li:before {
    content: '•';
    color: #b39ddb;
    margin-right: 5px;
  }
}

.card__list_col_3 {
  column-count: 3;
}

.card__list_col_2 {
  column-count: 2;
  column-width: 110px;
}

.card__button {
  margin-top: auto;
}
