$color-primary: #04070b;
$color-primary-light: #e3e3e3;
$color-secondary: #05a5b5;
$color-tertiary: #1f1d25;

$text-color-primary: #fff;
$text-color-secondary: #01070b;

$color-news: #cb6533;
$color-media: #0099cb;
$color-blog: #333399;

$color-blue: #3b52c2;

$tablet: 968px;
$desctop: 1260px;
